@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*100% da view height */
    width: 100vw; /*100% da view width */
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center; /*busquei a imagem na outras pasta ../ , tirei a repetição da imagem(no repeat) e posicionei o foco da imagem baseado no top center dela, onde ficava mais nitido. */
    background-size:cover; /*tamanho cobre todo o fundo */
}

main {
    position: relative; /* Quando você define position: relative em um elemento, ele serve como o referencial para qualquer elemento filho com position: absolute. Ou seja, os filhos serão posicionados em relação ao contêiner com position: relative. */
    height: 100vh;
    
}

section#telefone { /*section com ID telefone */
    position: absolute; /*deixo ele fixo em relação a algum container ou ao html ou body caso não tenha container.*/
    top: 50%; /* movimentar o top */
    left: 50%; /* movimentar o  left. aqui esta com a ponta superior esquerda no centro */
    transform: translate(-50%, -50%); /* aqui eu deixo o centro do elemento no centro da tela, para ficar 100% centralizado.*/
    
    
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat; /* ../ signifca volte uma pasta e abra, pois nos arquivos da pasta imagens esta dentro da pagina projeto social */
    
    /* Por padrão, as imagens se repetem pra preencher o espaço, então coloco no repeat para deixar somente 1.*/
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right; /* alinhei as imagens na direita*/
}
section#redes-sociais img {
    width: 50px; /* aqui eu diminui a imagem pra criar o icone*/
    margin: 10px; /*separei as imagens */
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
    box-sizing: border-box; /*deixo a borda do mesmo tamanho do objeto, fazendo que o hover não altere a imagem debaixo por conta do tamanho */
}

section#redes-sociais img:hover {
    border: 2px solid rgb(255, 255, 255, 0.6);
    transform:translate(-3px, -3px); /*  usada para mover elementos na tela sem alterar sua posição no fluxo normal do documento. mexo imagem pra cima e pra esquerda com os numeros negativos.*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: transform .5s, border 1s; /* demora 0.5s pra mover a imagem, criando um efeito de transição suave, tornando o transform:translate mais elegante. O border 1s faz que a borda demore 1s pra aparecer, também gerando uma transição suave.*/
}